.button {
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: large;
    justify-content: flex-end;
}

.button.active {
    background: olivedrab;
    color: #fff;
}