.button {
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: auto;
    font-size: large;
    background: olivedrab;
    color: #fff;
}

.button.close {
    background: white;
    margin:0px;
    color:dimgrey
}