@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 50px;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 2rem;
  white-space: 'nowrap';
}

.content,
p {
  padding: 1rem 0;
}

.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.choice {
  padding-top: 10px;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
  display: flex;
}
.items {
  display: grid; 
  place-items: center;
}
